.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
}

.navbar h1 {
    font-size: 24px;
}

.navbar .links a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navbar .links a:hover {
    color: #ddd;
}
