{% extends "layout.html" %}

{% block content %}
<h2>Chào mừng, bạn đã đăng nhập thành công!</h2>
<div id="container">
    <h1>Web Trích Xuất Thông Tin Từ File Scan Được Tải Lên </h1>
    <div class="upload-section">
      <p>Chỉ tải tối đa 10 file cùng lúc</p>
      <form id="upload-form" method="POST" enctype="multipart/form-data">
        <input type="file" name="files[]" id="file-input" multiple>
        <input type="submit" value="Upload">
      </form>
    </div>
    <div class="result-section">
      <pre id="result"></pre>
    </div>
  </div>

  <script>
    // AJAX request to upload files and process them
    var form = document.getElementById("upload-form");
    form.addEventListener("submit", function (event) {
      event.preventDefault();
      var formData = new FormData(form);
      var xhr = new XMLHttpRequest();
      xhr.onreadystatechange = function () {
        if (xhr.readyState === 4 && xhr.status === 200) {
          var result = JSON.parse(xhr.responseText);
          var resultString = JSON.stringify(result, null, 2);
          document.getElementById("result").textContent = resultString;
        }
      };
      xhr.open("POST", "/upload");
      xhr.send(formData);
    });
  </script>
{% endblock %}
