{% extends "layout.html" %}

{% block content %}
<header></header>
<h2>Đăng Ký</h2>
<div class="container-form-login">
    <div class="login-form">
        <form method="POST">
            <label for="username">Tên đăng nhập:</label>
            <input type="text" name="username" required>
            <label for="password">Mật khẩu:</label>
            <input type="password" name="password" required>
            <button type="submit">Đăng Ký</button>
            <p>Đã có tài khoản? <a href="{{ url_for('login') }}">Đăng nhập</a>.</p>
        </form>
    </div>   
</div>
{% endblock %}
